@keyframes scanning {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

.running {
  animation-name: scanning;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  background-size: 300% 100%;
  background-position: 0%;
  background-image: linear-gradient(
    90deg,
    var(--background-color) 0%,
    var(--background-color) 35%,
    var(--text-color) 60%,
    var(--background-color) 60%,
    var(--background-color) 100%
  );
}

/* XXX sometime scanning animation stops accidentally.
   GPU & CSS animation problem? I met this when using this ext on sub display. */
.idle {
  animation-name: none !important;
  background-color: var(--background-color);
  background-image: none;
  background-position: 0% !important;
}
